<footer class="footer">
      <div class="container">
        <div class="footer-content">
          <div>
            <span class="navbar-brand">
              <!-- <i class="fas fa-shield-alt me-2"></i>LeakSight
                -->
              <img src="logo.png" width="165" height="45" alt="LeakSight">
            </span>
            <p class="text-muted mt-2">Advanced Threat Intelligence Platform</p>
          </div>
          <div class="footer-links">
            <!-- <a href="#privacy">Privacy Policy</a>
            <a href="#terms">Terms of Service</a>
            <a href="#docs">Documentation</a> -->
            <a href="#support">Support</a>
            <a href="#about">About</a>
          </div>
        </div>
        <hr class="my-4" style="border-color: var(--info-color);">
        <div class="text-center">
          <p class="text-muted" style="color:var(--info-color)!important;" >&copy; 2025 LeakSight. All rights reserved.</p>
        </div>
      </div>
    </footer>